@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: var(--surface-200);
}

.h-fit-content {
  height: fit-content;
}
.white-space-pre-wrap {
  white-space: pre-wrap;
}

